/* #region Common */

body{
    font-family: Cuprum, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button{
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    color: #ffffff;
    text-align: center;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
}

.button:hover{
    background-color: #ca2c37;
}

.button:active{
    background-color: #ba2732;
}

/* #endregion Common */

/* #region Header */

.main-header{
    background-image: url(../img/header-background.jpg);
    background-color: #f1f5f7;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100%;
}

/* #region Header Interface */

.main-header-interface .container{
    display: flex;
}

.main-header-interface{
    background-color: #293449;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    height: 42px;
}

.main-header-interface 
a:hover{
    background-color: #212a3a;
}

.main-header-interface 
a:active{
    background-color: #161d29;
}

.search-input{
    background-color: #293449;
    border: none;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    font-family: Cuprum, sans-serif;
    width: 270px;
    height: 100%;
    padding-left: 17px;
}

.search-input::placeholder{
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
}

.cart-with-products{
    background-color: #ee3643;
}

.bookmarks,
.cart,
.make-order-link{
    flex-grow: 1;
    padding-left: 18px;
    display: flex;
    align-items: center;
}



.make-order-link {
    background-color: #63a63e;
    justify-content: space-around;
}

.main-header-interface 
.make-order-link:hover{
    background-color: #5fbb2d;
}

.main-header-interface 
.make-order-link:active{
    background-color: #518534;
}

.main-logo{
    background-color: #ee3643;
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -4.5px 0 0 rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.main-header-interface 
.main-logo:hover{
    background-color: #ca2c37;
}

.main-header-interface 
.main-logo:active{
    background-color: #ba2732;
}


.main-header-interface 
.search-input:hover{
    background-color: #212a3a;
}

.main-header-interface 
.search-input:focus{
    background-color: #ffffff;
    border: none;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
}

.search-input:focus::placeholder{
    color: #000000;
}
/* #endregion Header Interface */

/* #region Address and user nav */
.header-wrapper{
    display: flex;
    height: 112px;
    margin-top: 47px;
    align-items: flex-start;
    justify-content: space-between;
}

.main-header h1{
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    width: 250px;
    padding-left: 50px;
}

.header-wrapper
address{
    font-style: normal;
}

.main-header-contacts-phone{
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    display:block;

    padding-left: 80px;
    width: 190px;
    height: 45px;
    border: 3px solid white;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.main-header-contacts-address{
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    text-align: center;
}

.user-nav ul{
    display: flex;
    margin: 0;
}

.login-link{
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.register-link{
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.user-nav 
a{
    background-color: #ffffff;
    margin-left: 10px;
}

.user-nav 
a{
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.user-nav 
a:hover{
    color: #ee3643;
}

.user-nav 
a:active{
    color: #cacaca;
}

/* #endregion Address and user nav */

/* #region Site nav */
.site-nav{
    background-color: #32425c;
    font-size: 17px;
    line-height: 17px;
    box-shadow: inset 0px -4.5px 0 0 #293449;
    height: 60px;
}

.site-nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
    margin: 0;
    height: 100%;
}

.site-nav li{
    height: 100%;
    padding: 0 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}



.site-nav li:hover{
    background-color: #293449; 
}

.site-nav li:active{
    background-color: #1d2739;
}

.site-nav a:active{
    color: #a1a4a8;
}
/* #endregion Site nav */

/* #endregion Header */

/* #region Main */
.promo-item h3{
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.promo-item a{
    font-size: 14px;
    line-height: 18px;
    background: rgba(0, 0, 0, 0.1);
}

.promo-item a:hover{
    background-color: rgba(204, 204, 204, 0.2);
}

.promo-item a:active{
    background-color: rgba(178, 178, 178, 0.3);
}
  

.promo-item-goods{
    background-color: #ffbf47;
}

.promo-item-tools{
    background-color: #3bbce3;
}

.promo-item-technics{
    background-color: #dc91d8;
}

.promo-item-discounts{
    background-color: #8ed78f;
}

.promo-slider{
    color: #ffffff;
}

.promo-slider-drill{
    background-image: url(../img/slider/drill.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    width: 620px;
    height: 266px;
}

.promo-slider-perforator{
    background-image: url(../img/slider/perforator.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    width: 620px;
    height: 266px;
}

.promo-item-delivery{
    background-color: #ffc047;
}


.promo-slider h3{
    font-size: 36px;
    line-height: 36px;
}

.promo-slider p{
    font-size: 18px;
    line-height: 24px;
}

.popular li{
    border: 1px solid #eaeaea;
}

.popular-header{
    background-color: #f9f5f0;
}

.popular-header-title{
    color: #32425c;
    line-height: 30px;
    font-size: 30px;
}

.product-card{
    text-align: center;
}

.product-card:hover{
    box-shadow: 0px 5px 12.5px 0 rgba(41, 52, 73, 0.5);
}

.product-card-title{
    color: #000000;
    line-height: 18px;
    font-size: 20px;
    text-transform: none;
    font-family: "PT Sans", sans-serif;
}

.product-card-price{
    background-color: #ee3643;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
}

.product-card-price-old{
    background-color: #ffffff;
    color: #a9a9a9;
    text-decoration: line-through;
    font-family: "PT Sans", sans-serif;
}

.popular-manufacturer-list li:hover{
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-manufacturer-list li:active{
    opacity: 0.3;
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}



.service{
    background-color: #f4f8fa;
}

.service > p{
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
}

.service h2, .service h3{
    text-transform: uppercase;
    font-weight: normal;
}


.service h2{
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.service-item p{
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    font-family: "PT Sans", sans-serif;
}

.service-item h3{
    color: #32425c;
}

.company-features-item{
    background-color: #32425c;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.company-features-item:hover{
    background-color: #293449;
}

.company-features-item.company-features-current{
    background-color: #ffffff;
}

.company-features-current a{
    color: #32425c;
}

.company-info{
    color: #000000;
}

.company-info h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}

.company-info p{
    font-size: 13px;
    line-height: 24px;
}

.company-info-delivery-types li{
    font-size: 18px;
    line-height: 20px;
}
/* #endregion Main */

/* #region Footer */
.main-footer{
    background-color: #32425c;
    color: #ffffff;
}

.top-sub-main-footer{
    display: flex;
}

.top-sub-main-footer-logo{
    margin-bottom: 30px;
    width: 220px;
    height: 68px;
}

.footer-nav-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.main-footer-site-nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.main-footer-catalog-nav ul{
    width: 550px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 25px;
    margin: 0;
}

.main-footer-nav{
    padding: 20px 0;
}

.top-sub-main-footer-contacts{
    width: 380px;
    height: 196px;
}

.bottom-sub-main-footer{
    background-color: #293449;
}

.main-footer-nav a:hover{
    text-decoration: underline;
}

.main-footer-catalog-nav a:active{
    color: #ad956f;
    text-decoration: none;
}

.main-footer-site-nav a:active{
    color: #a4abb4;
    text-decoration: none;
}

.main-footer-catalog-nav a{
    color: #ffd180;
}


.main-footer-address{
    font-style: normal;
}

.bottom-sub-main-footer .container{
    font-size: 16px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer-social ul{
    display: flex;
}

.developer-info{
    display: flex;
}

.developer-info p{
    margin-left: 75px;
}

.social-button{
    background-color: #212a3a;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-button:hover{
    background-color: #ee3643;
}

.developer-info-link{
    color: #f5c97d;
}

.developer-info-link:hover{
    text-decoration: underline;
}

.developer-info-link:active{
    text-decoration: none;
    color: #d13644;
}

/* #endregion Footer */

.feed-back-form-label{
    color: #000000;
    font-size: 18px;
    line-height: 18px;
}

.feed-back-form-input::placeholder{
    font-size: 13px;
    line-height: 18px;
}

.send-form-footer{
    background-color: #f4f4f4;
}


/* #region Catalog.html */
.current-user-wrapper{
    display: flex;
    flex-direction: column;
}

.current-user a{
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 21px;
    width: 300px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-user a:active{
    color: #cacaca;
}

.autorized-user-nav ul{
    padding: 0;
}

.autorized-user-nav li{
    margin: 11px 20px 15px 18px;
}

.autorized-user-nav li:last-child{
    list-style-type: disc;
    color: #32425c;
    padding-left: 8px;
}

.autorized-user-nav a{
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    padding-left: 0;
    margin-left: 0;
}
.autorized-user-nav a{
    background-color: transparent;
}


.breadcrumbs{
    font-family: "PT Sans", sans-serif;
}

.breadcrumbs ul{
    display: flex;
    list-style-image: url(../img/breadcrumbs-list-style-img.png);
    padding-left: 0;
    margin-top: 20px;
}

.breadcrumbs li{
    padding-left: 8px;
    padding-right: 30px;
}

.breadcrumbs li:first-child{
    list-style: none;
    padding-left: 0;
    padding-right: 30px;
}

.breadcrumbs li a,
.breadcrumbs li{
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
}

.product-card-buy-link{
    background-color: #63a63e;
    box-shadow: inset 0px -1.5px 0 0 #367315;
    font-size: 14px;
    line-height: 18px;
}

.product-card-buy-link:hover{
    background-color: #5fbb2d;
}

.product-card-buy-link:active{
    background-color: #518534;
}

.product-card-bookmark-link{
    color: #000000;
    border: 3px solid #63a63e;
    font-size: 14px;
    line-height: 18px;
}

.product-card-bookmark-link:hover{
    border-color: #32425c;
}

.product-card-bookmark-link:active{
    border-color: #c1c6ce;
    color: #c1c6ce;
}

.about-product{
    background-color: #f2f6f8;
}

.about-product h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.about-product p{
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
}
/* #endregion Catalog.html */