body{
    font-family: Cuprum;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button{
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    color: white;
}

.button:hover{
    background-color: #ca2c37;
}

.button:active{
    background-color: #ba2732;
}

.main-header{
    background-image: url(../img/header-background.jpg);
    background-color: #f1f5f7;
}

.main-header-interface{
    background-color: #293449;
    font-size: 17px;
    line-height: 18px;
    color: white;
}

.main-header-interface 
a:hover{
    background-color: #212a3a;
}

.main-header-interface 
a:active{
    background-color: #161d29;
}

.search-input{
    background-color: #293449;
    border: none;
    font-size: 17px;
    line-height: 18px;
    color: white;
    font-family: Cuprum;
}

.search-input::placeholder{
    color: white;
    font-size: 17px;
    line-height: 18px;
}

.make-order-link {
    background-color: #63a63e;
}

.main-header-interface 
.make-order-link:hover{
    background-color: #5fbb2d;
}

.main-header-interface 
.make-order-link:active{
    background-color: #518534;
}

.main-logo{
    background-color: #ee3643;
    width: 220px;
    height: 51px;
    box-shadow: inset 0px -4.5px 0 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    display: block;
}

.main-header-interface 
.main-logo:hover{
    background-color: #ca2c37;
}

.main-header-interface 
.main-logo:active{
    background-color: #ba2732;
}


.main-header-interface 
.search-input:hover{
    background-color: #212a3a;
}

.main-header-interface 
.search-input:focus{
    background-color: #ffffff;
    border: none;
    font-size: 17px;
    line-height: 18px;
    color: black;
}

.search-input:focus::placeholder{
    color: black;
}

.main-header h1{
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

.main-header 
address{
    font-style: normal;
}

.main-header-contacts-phone{
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
}

.main-header-contacts-address{
    color: black;
    font-size: 14px;
    line-height: 24px;
}

.user-nav 
li{
    background-color: white;
}

.user-nav 
a{
    color: black;
    font-size: 21px;
    line-height: 21px;
}

.user-nav 
a:hover{
    color: #ee3643;
}

.user-nav 
a:active{
    color: #cacaca;
}

.site-nav{
    background-color: #32425c;
    font-size: 17px;
    line-height: 17px;
    box-shadow: inset 0px -4.5px 0 0 #293449;
}

.site-nav li:hover{
    background-color: #293449; 
}

.site-nav li:active{
    background-color: #1d2739;
}

.site-nav a:active{
    color: #a1a4a8;
}


.promo-item h3{
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.promo-item a{
    font-size: 14px;
    line-height: 18px;
    background: rgba(0, 0, 0, 0.1);
}

.promo-item a:hover{
    background-color: rgba(204, 204, 204, 0.2);
}

.promo-item a:active{
    background-color: rgba(178, 178, 178, 0.3);
}
  

.promo-item-goods{
    background-color: #ffbf47;
}

.promo-item-tools{
    background-color: #3bbce3;
}

.promo-item-technics{
    background-color: #dc91d8;
}

.promo-item-discounts{
    background-color: #8ed78f;
}

.promo-slider{
    color: white;
}

.promo-slider-drill{
    background-image: url(../img/slider/drill.jpg);
    width: 620px;
    height: 266px;
}

.promo-slider-perforator{
    background-image: url(../img/slider/perforator.jpg);
    width: 620px;
    height: 266px;
}

.promo-item-delivery{
    background-color: #ffc047;
}


.promo-slider h3{
    font-size: 36px;
    line-height: 36px;
}

.promo-slider p{
    font-size: 18px;
    line-height: 24px;
}

.popular li{
    border: 1px solid #eaeaea;
}

.popular-header{
    background-color: #f9f5f0;
}

.popular-header-title{
    color: #32425c;
    line-height: 30px;
    font-size: 30px;
}

.product-card:hover{
    box-shadow: 0px 5px 12.5px 0 rgba(41, 52, 73, 0.5);
}

.product-card-title{
    color: black;
    line-height: 18px;
    font-size: 20px;
    text-transform: none;
}

.product-card-price{
    background-color: #ee3643;
    font-size: 17px;
    line-height: 18px;
    color: white;
}

.product-card-price-old{
    background-color: #ffffff;
    color: #a9a9a9;
    text-decoration: line-through;
}

.popular-manufacturer-list li:hover{
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-manufacturer-list li:active{
    opacity: 0.3;
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}



.service{
    background-color: #f4f8fa;
}

.service h2, h3{
    text-transform: uppercase;
    font-weight: normal;
}


.service h2{
    font-size: 30px;
    line-height: 30px;
    color: black;
}

.service-item p{
    font-size: 13px;
    line-height: 24px;
    color: black;
}

.service-item h3{
    color: #32425c;
}

.company-features-item{
    background-color: #32425c;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.company-features-item:hover{
    background-color: #293449;
}

.company-features-item.company-features-current{
    background-color: white;
}

.company-features-current a{
    color: #32425c;
}

.company-info{
    color: black;
}

.company-info h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}

.company-info p{
    font-size: 13px;
    line-height: 24px;
}

.company-info-delivery-types li{
    font-size: 18px;
    line-height: 20px;
}

.main-footer{
    background-color: #32425c;
    color: white;
}

.bottom-sub-main-footer{
    background-color: #293449;
}

.main-footer-nav a:hover{
    text-decoration: underline;
}

.main-footer-catalog-nav a:active{
    color: #ad956f;
    text-decoration: none;
}

.main-footer-site-nav a:active{
    color: #a4abb4;
    text-decoration: none;
}

.main-footer-catalog-nav a{
    color: #ffd180;
}


.main-footer-address{
    font-style: normal;
}

.bottom-sub-main-footer{
    font-size: 16px;
    line-height: 18px;
}

.social-button{
    background-color: #212a3a;
}

.social-button:hover{
    background-color: #ee3643;
}

.developer-info-link{
    color: #f5c97d;
}

.developer-info-link:hover{
    text-decoration: underline;
}

.developer-info-link:active{
    text-decoration: none;
    color: #d13644;
}

.feed-back-form-label{
    color: black;
    font-size: 18px;
    line-height: 18px;
}

.feed-back-form-input::placeholder{
    font-size: 13px;
    line-height: 18px;
}

.send-form-footer{
    background-color: #f4f4f4;
}


/* #region Catalog.html */
.current-user a{
    color: black;
    font-size: 21px;
    line-height: 21px;
}

.current-user a:active{
    color: #cacaca;
}

.autorized-user-nav a{
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}


.breadcrumbs li a{
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
}

.product-card-buy-link{
    background-color: #63a63e;
    box-shadow: inset 0px -1.5px 0 0 #367315;
    font-size: 14px;
    line-height: 18px;
}

.product-card-buy-link:hover{
    background-color: #5fbb2d;
}

.product-card-buy-link:active{
    background-color: #518534;
}

.product-card-bookmark-link{
    color: black;
    border: 3px solid #63a63e;
    font-size: 14px;
    line-height: 18px;
}

.product-card-bookmark-link:hover{
    border-color: #32425c;
}

.product-card-bookmark-link:active{
    border-color: #c1c6ce;
    color: #c1c6ce;
}

.about-product{
    background-color: #f2f6f8;
}

.about-product h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.about-product p{
    font-size: 13px;
    line-height: 24px;
}
/* #endregion Catalog.html */